@model GerenciamentoDeDespesas.Dto.TipoDeDespesaDto


@{
    ViewData["Title"] = "Novo";
}



<br />
<div class="container">
    <!--início do formulário-->
    <form role="form" asp-controller="TipoDeDespesa" asp-action="Deletar" method="post">
        <input type="hidden" asp-for="TipoDeDespesaId"  />

        <!--informação básica-->
        <fieldset>

            <legend class="text-center">Excluir Tipo de Despesa</legend>

            <div class="row col-sm-6">
                <div class="form-group col-sm-12">
                    <label id="" for="nome">Tipo de Despesa*</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input type="text" name="nome" asp-for="Nome" disabled class="form-control" tabindex="1" id="nome" placeholder="Adicionar nome" autocomplete="off">
                    </div>
                    <small class="form-text text-muted"> <span class="text-danger" asp-validation-for="Nome"></span> </small>
                </div>

                <div class="form-group col-sm-12">
                    <input type="submit" class="btn btn-primary" name="enviar" id="enviar" value="Enviar">
                    <a asp-action="Index" asp-controller="TipoDeDespesa" class="btn btn-warning">Retornar</a>
                </div>

            </div>
            <!--row nome e apelido-->

        </fieldset>


    </form>
    <!--fim do formulário-->

</div>



