@model GerenciamentoDeDespesas.Dto.SalarioDto


@{
    ViewData["Title"] = "Novo";
}


<br />
<div class="container">
    <!--início do formulário-->
    <form role="form" asp-controller="Salario" asp-action="Atualizar" method="post">
        <input type="hidden" asp-for="SalarioId" />

        <!--informação básica-->
        <fieldset>

            <legend class="text-center">Atualizar Salário</legend>

            <div class="row col-sm-4">

                <div class="form-group col-sm-12">
                    <label for="genero">Selecione o mês*</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-filter"></span>
                        </div>
                        <select class="form-control selectpicker" data-show-subtext="true" tabindex="1" id="mes" asp-for="MesId"
                                asp-items="@(new SelectList(@ViewBag.Mes,"MesId", "Nome"))" data-live-search="true"></select>
                    </div>
                    <small class="form-text text-muted"> <span class="text-danger" asp-validation-for="MesId"></span> </small>
                </div>

                <div class="form-group col-sm-12">
                    <label id="" for="nome">Valor do Salário*</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input type="number" name="ValorString" asp-for="ValorString" class="form-control" tabindex="2" id="ValorString" placeholder="Adicionar valor" autocomplete="off">
                    </div>
                    <small class="form-text text-muted"> <span class="text-danger" asp-validation-for="ValorString"></span> </small>
                </div>

                <div class="form-group col-sm-12">
                    <input type="submit" class="btn btn-primary" name="enviar" id="enviar" value="Enviar">
                    <a asp-action="Index" asp-controller="Salario" class="btn btn-warning">Retornar</a>
                </div>

            </div>
            <!--row nome e apelido-->

        </fieldset>


    </form>
    <!--fim do formulário-->

</div>

