@model GerenciamentoDeDespesas.Dto.SalarioDto


@{
    ViewData["Title"] = "Novo";
}

<div class="container">

    <form role="form" asp-controller="Salario" asp-action="Salvar" method="post">
        <div class="form-body">
            <input type="hidden" asp-for="SalarioId" value="0" />


            <div class="form-group">
                <label>Selecione o Mês</label>
                <div class="input-group">
                    <select class="selectpicker form-control" data-show-subtext="true" id="mes"  asp-for="MesId" asp-items="@(new SelectList(@ViewBag.Mes,"MesId", "Nome"))" data-live-search="true"></select>
                </div>
                <small class="form-text text-muted"> <span class="text-danger" asp-validation-for="MesId"></span> </small>
            </div>


            <div class="form-group">
                <label>Valor do Salário</label>
                <div class="input-group">
                    <input type="text" asp-for="Valor" class="form-control" id="nome" step="any" placeholder="10.50" />
                </div>
                <small class="form-text text-muted"> <span class="text-danger" asp-validation-for="Valor"></span> </small>
            </div>

        </div>
        <div class="form-actions">
            <p>
                <button type="submit" class="btn btn-outline-info">Cadastrar</button>
                <a asp-action="Index" asp-controller="TipoDeDespesa" class="btn btn-outline-warning">Retornar</a>
            </p>
        </div>
    </form>
    <br />



</div>
