@model GerenciamentoDeDespesas.Dto.DespesaDto

@{
    ViewData["Title"] = "Create";
}


<h4>Cadastro Despesa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <input type="hidden" asp-for="DespesaId" value="0" />

            <div class="form-group">
                <label asp-for="MesId" class="control-label"></label>
                <select asp-for="MesId" class="form-control" asp-items="ViewBag.MesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeDespesaId" class="control-label"></label>
                <select asp-for="TipoDeDespesaId" class="form-control" asp-items="ViewBag.TipoDeDespesaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ValorString" class="control-label"></label>
                <input asp-for="ValorString" class="form-control" />
                <span asp-validation-for="ValorString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Retornar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
