@model GerenciamentoDeDespesas.Dto.DespesaDto

@{
    ViewData["Title"] = "Create";
}


<h4>Cadastro Despesa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <input type="hidden" asp-for="DespesaId" value="0" />

            <div class="form-group">
                <label asp-for="MesId" class="control-label"></label>
                <select asp-for="MesId" class="form-control" asp-items="ViewBag.MesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeDespesaId" class="control-label"></label>
                <div class="input-group">
                    <select asp-for="TipoDeDespesaId" class="form-control" asp-items="ViewBag.TipoDeDespesaId"></select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="right" title="Adicionar novo tipo de despesa" onclick="ExibirModal()">
                            <i class="far fa-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ValorString" class="control-label"></label>
                <input asp-for="ValorString" class="form-control" />
                <span asp-validation-for="ValorString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Retornar</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar nova despesa</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <input class="form-control txtDespesa" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary btnAdicionar">Adicionar</button>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>


        $(function () {
           $('[data-toggle="tooltip"]').tooltip();
        }); 

        function ExibirModal() {

            $(".modal").modal();

            $(".btnAdicionar").on("click", function () {
                var txtDespesa = $(".txtDespesa").val();

                $.ajax({
                    url: "/TipoDeDespesa/AdicionarDespesa",
                    method: "POST",
                    data: { txtDespesa: txtDespesa },
                    success: function (data) {
                        console.log(data);
                        if (!data) {
                            alert("Tipo de despesa já cadastrada");
                            $(".modal").modal("hide");
                            $(".modal").modal("dispose");
                            $(".btnAdicionar").unbind('click');
                            $(".txtDespesa").val('');
                            location.reload(true);
                        } else {
                            $(".modal").modal("hide");
                            location.reload(true);
                        }
                        
                    }
                })
            });

        };


    </script>

}



