@model GerenciamentoDeDespesas.Dto.DespesaDto


@{
    ViewData["Title"] = "Novo";
}


@section Styles {

    <style type="text/css">
        .pink {
            color: blue;
            cursor: pointer;
        }
    </style>

}



<br />
<div class="container">
    <!--início do formulário-->
    <form role="form" asp-controller="Despesa" asp-action="Salvar" method="post">
        <input type="hidden" asp-for="DespesaId" value="0" />

        <!--informação básica-->
        <fieldset>

            <legend class="text-center">Cadastro Despesa</legend>

            <div class="row col-sm-4">

                <div class="form-group col-sm-12">
                    <label for="genero">Selecione o mês*</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-filter"></span>
                        </div>
                        <select class="form-control selectpicker" data-show-subtext="true" tabindex="1" id="mes" asp-for="MesId"
                                asp-items="@(new SelectList(@ViewBag.Mes,"MesId", "Nome"))" data-live-search="true"></select>
                    </div>
                    <small class="form-text text-muted"> <span class="text-danger" asp-validation-for="MesId"></span> </small>
                </div>

                <div class="form-group col-sm-12">
                    <label for="genero">Selecione o tipo de despesa*</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-plus pink" data-toggle="modal" data-placement="right"
                                  title="Adicionar novo tipo de despesa" onclick="MostarModal()">
                            </span>
                        </div>
                        <select class="form-control selectpicker" data-show-subtext="true" tabindex="1" id="despesa" asp-for="TipoDeDespesaId"
                                asp-items="@(new SelectList(@ViewBag.TipoDespesa,"TipoDeDespesaId", "Nome"))" data-live-search="true"></select>

                    </div>
                    <small class="form-text text-muted"> <span class="text-danger" asp-validation-for="TipoDeDespesaId"></span> </small>
                </div>

                <div class="form-group col-sm-12">
                    <label id="" for="nome">Valor da Despesa*</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input type="number" name="ValorString" asp-for="ValorString" class="form-control" tabindex="2" id="ValorString" autocomplete="off">
                    </div>
                    <small class="form-text text-muted"> <span class="text-danger" asp-validation-for="ValorString"></span> </small>
                </div>

                <div class="form-group col-sm-12">
                    <input type="submit" class="btn btn-primary" name="enviar" id="enviar" value="Enviar">
                    <a asp-action="Index" asp-controller="Despesa" class="btn btn-warning">Retornar</a>
                </div>

            </div>
            <!--row nome e apelido-->

        </fieldset>


    </form>
    <!--fim do formulário-->


</div>





<!-- Modal -->
<div class="modal fade" id="MostarModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Título do modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <input class="form-control txtDespesa" autocomplete="off">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary btnAdicionar">Salvar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>


        function MostarModal() {
            $(".modal").modal();

            $(".btnAdicionar").on("click", function () {
                var txtDespesa = $(".txtDespesa").val();

                $.ajax({
                    url: "/TipoDeDespesa/AdicionarTipoDespesa",
                    method: "POST",
                    data: { txtDespesa: txtDespesa },
                    success: function (data) {
                        console.log(data);

                        if (!data) {
                            $(".modal").modal("hide");
                            $(".btnAdicionar").unbind("click");
                            $(".txtDespesa").val("");
                            alert("Tipo de despesa já cadastrado");
                            $(".modal").modal("dispose");
                        }
                        
                        else location.reload(true);
                    }
                })
            });

        }




    </script>
}




