@model IEnumerable<FaixaEtaria.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-info" >Create New</a>
</p>

<!--partial -->
@await Html.PartialAsync("_Adolescentes", Model)

@{
    await Html.RenderPartialAsync("_Adultos", Model);
}

@*@await Html.PartialAsync("_Idosos", Model)*@

<partial name="_Idosos" model="Model" />